.banner_text {
    font-size: 70px;
}

.banner_bg {
    background-color: #EFFAFA;
    /* padding: 0px 20px; */
}

.banner_btn {
    background-color: #EFFAFA;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
}

.banner_btn:hover {
    background-color: #E32A53;
    border: 2px solid #E32A53;
    color: #fff;
    font-weight: 400;
}

.banner_height {
    height: 100vh;
}

.heading {
    font-size: 80px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 40px;
        margin-top: 40px;
    }
}